/* DiseaseRecognition.css */
.disease-container {
    padding: 0;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
  }
  
  .disease-body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    width: 100%;
    background-image: none;
    align-items: center;
  }
  
  .disease-heading {
    text-align: center;
    font-size: 28px;
    color: #627E5D;
    margin-top: 20px;
  }
  
  .disease-file-input {
    display: block;
    margin: 20px auto;
  }
  
  .disease-image {
    display: block;
    margin: 20px auto;
    border: 2px solid #627E5D;
    border-radius: 5px;
  }
  
  .disease-button {
    align-items: center;
    display: block;
    background-color: #66dd51;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .disease-button:hover {
    background-color: #019587;
  }
  
  .disease-paragraph {
    text-align: center;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #72a868;
    margin-top: 20px;
  }
  
  .disease-paragraph.error {
    color: #ff4d4d;
  }
  
  .disease-paragraph.loading {
    color: #8CE17D;
  }
  
  .disease-file-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .disease-file-input-container input[type="file"] {
    display: none;
  }
  
  .disease-file-input-label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    background-color: #66dd51;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    align-items: center;
  }
  
  .disease-file-input-label:hover {
    background-color: #019587;
  }
  
  .disease-file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    font-style: italic;
  }
  